<script src="/public/javascript/populateFields.js"></script>
<h1>new entry for: {{body.title}}</h1>
<p class ="hidden" id="slug">{{body.slug}}</p>
<form id="newEntry">
	<input type="text" placeholder="title" id="title"><br>
	<input type="text" placeholder="blurb" id="blurb"><br>
	<div id="fields">
		
	</div>
	<button type="submit" id="formSubmit" >submit</button>
</form>







