<script src="/public/javascript/addFormField.js"></script>
<form id="newStructure">
	<input type="text" placeholder="field 1">
</form>
	<button type="button" id="newFieldButton" >add new field</button>
